{% extends 'base.html.twig' %}

{% block main %}
	<div class="container mt-4">
		<div class="row">
			{% if userMethodList | length == 0 %}
				<div class="alert alert-danger" role="alert">No payment method available</div>";
			{% else %}
				<form action="/product?user={{ user.getId() }}&product={{ room.getId() }}" method="post">
					<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary"
						 style="background-image: url('{{ room.getPhoto() }}'); background-size: cover;">
						<div class="col-md-6 p-lg-5 mx-auto my-5">
							<h1 class="display-3 fw-bold">{{ room.getName() }}</h1>
							<h3 class="fw-normal text-muted mb-3">Price: {{ price }} €</h3>
							<select name="method" class="form-select form-select-lg mb-3"
									aria-label="Large select example">
								<option selected>Method de payment</option>
								{% for method in userMethodList %}
									<option value="{{ method.paymentMethod.getId() }}">{{ method.type }}
										: {{ method.paymentMethod.getLabel() }}</option>
								{% endfor %}
							</select>
							<div class="d-flex gap-3 justify-content-center lead fw-normal">
								<input name="user" type="hidden" value="{{ user.getId() }}">
								<input name="product" type="hidden" value="{{ room.getId() }}">
								<button type="submit" class="btn btn-primary">Buy</button>
							</div>
						</div>
					</div>
				</form>
			{% endif %}
		</div>
{% endblock %}