{% extends 'base.html.twig' %}

{% block main %}
	<div class="container mt-4">

		<h2>Ajouter un moyen de paiement</h2>
		<form action="/profile/{{ user.getId() }}" method="post">
			<select name="method" class="form-select form-select-lg mb-3" aria-label="Large select example">
				<option selected>Method de payment</option>
				{% for type, methodName in methodList %}
					<option value="{{ type }}">{{ methodName }}</option>
				{% endfor %}
			</select>
			<div class="d-flex gap-3 justify-content-center lead fw-normal">
				<input name="user" type="hidden" value="{{ user.getId() }}">
				<button type="submit" class="btn btn-primary">Create</button>
			</div>
		</form>
		<h2>Mes moyens de paiement</h2>

		<ul class="list-group">
			{% for method in userMethodList %}
				<li class="list-group-item">{{ method.type }} : {{ method.name }}</li>
			{% endfor %}
		</ul>

	</div>
{% endblock %}